<html>
<head>
<link rel="stylesheet" href="/css/site.css"></link>
</head>

<body>
<h1>Hello Mustache</h1>

    {{> menu}}

Welcome {{fname}} {{lname}}!
Your addres is {{address.street}} {{address.city}}, {{address.state}}


</body>


</html>